{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'styles/main.css' %}>
</head>
<body>
    <div class="container">

            <div id="task-container">
                <div class="flex-wrapper detail-buttons">
                    <div>
                        <button id="back" class="btn btn-secondary btn-detail">Back</button>
                    </div>
                    <div>
                        <button form="form" type="submit" class="btn btn-secondary btn-detail" id="submit_btn">Submit</button>
                    </div>
                </div>

            <div id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group mb-2">
                            <div>
                                <label>{{ field.label }}</label>
                            </div>
                            {{ field }}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let title = document.getElementById('id_title')
        let body = document.getElementById('id_body')
        let url = "{% url 'api:tasks-detail' pk %}"
        let backBtn = document.getElementById('back')
        let submitBtn = document.getElementById('submit_btn')
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        let form = document.getElementById('form')

        function fillData() {
          fetch(url)
          .then((response) => {
            if (response.status === 404) {
              window.location.href = "{% url 'task-list' %}"
              return
            }
            return response.json()
          })
          .then(data => {
            console.log(data)
            title.value = data.title
            body.value = data.body
          })
        }

        backBtn.addEventListener('click', (e) => {
          e.preventDefault()
          submitBtn.click()
          window.location.href = "{% url 'task-list' %}"
        })

        form.addEventListener('submit', (e) => {
          e.preventDefault()
          fetch(url, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({'title': title.value, 'body': body.value})
          })
        })

        fillData()

    </script>
</body>
</html>